* {
	box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.big-container {
	margin: 0px auto;
	max-width: 1300px;
}

.home-page {
	background: url("/images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	padding-left: 15px;
}

h1 {
	text-transform: uppercase;
	padding-bottom: 5px;
}

.title-text {
	padding-bottom: 600px;
	color: white;
	font-family: comfortaa;
}

.nav-bar {
	font-family: comfortaa;
	background-color: rgba(6, 38, 106, .9);
	background-size: cover;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	color: white;
}


.nav-bar a {
	color: white;
}

.nav-bar a:hover {
	color: white;
	text-decoration: none;
}

.nav-bar a:visited {
	color:white;
}

.nav-bar-title {
	font-size: 18px;

	position:relative;
	background: transparent;
}

.nav-bar-title::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(252,252,252,0);
	height: 3px;
	width: 0%;
	transition: all .5s;
	
}

.nav-bar-title:hover::before {
	width: 100%;
	background: rgba(252,252,252,1);
}


.about-me-img {
	margin: 0px auto; 
	width: 90%;
}

.about-me-img img {
	/*width: 90%;
	margin: 0px auto;*/
	border-radius: 50%;
}

.about-me-text {
	font-family: comfortaa;
}

.about-me-text-intro {
	font-size: 30px;
	padding-top: 20px;
}

.about-me-text-more {
	font-size: 18px;
	padding-top: 30px;
}

.about-me {
	padding-top: 150px;
	padding-bottom: 130px;
	margin: 0px auto;
}


.resume {
	background-color: rgba(64, 129, 214, .3);
	padding-bottom: 50px;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}

.page-intro {
	font-family: comfortaa;
	font-size: 40px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.resume-text {
	padding-bottom: 50px;
	text-align: left;
	padding-top: 10px;
}

.resume-text p {
	font-family: comfortaa;
	margin: 0px auto;
	width: 85%;
}

.resume-title {
	font-size: 24px;
	color: white;
	
}

.resume-time {
	font-size: 20px;
	color: #06266a;
	
}

.resume-location {
	font-size: 18px;
	margin-top: -13px;
	color: #06266a;
}

.resume-info {
	font-size: 16px;
}

.resume-pic img {
	width: 65%;
	margin: 0px auto;
	border-radius: 50%;
	border: 5px solid white;
	margin-top: 20px;
}

.resume-pic {
	margin: 0px auto;
	width: 90%;
}

.passions {
	text-align: center;
}

.passions-boxes {
	border: 5px solid white;
	border-radius: 10%;
	padding: 120px 20px 120px 20px;
	position: relative;
}

/*
.passions-boxes::before {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(6, 38, 106, .3);
	opacity: 1;
	transition: all .5s;
}

.passions-boxes:hover::before {
	opacity: 1;
}


.hover-box {
	opacity: 1;
	color: white;
	transition: all .5s;
	border-radius: 10%;
}

.passions-boxes:hover .hover-box {
	opacity: 0;
}

*/

.passions-box-1 {
	background: url("images/dtg.jpg");
	background-size: cover;
}

.passions-box-2 {
	background: url("images/passion-violin-pic.jpg");
	background-size: cover;
}

.passions-box-3 {
	background: url("images/travel.jpg");
	background-size: cover;
}

.boxes-row-1 {
	margin-top: -80px;
	margin-bottom: 20px;
}

.boxes-row-2 {
	margin-bottom: 70px;
}

a {
	font-family: comfortaa;
	font-weight: 900;
	font-size: 40px;
}

a:link {
	color: white;
}

.boxes a:visited {
	color: white;
}

.blog {
	background-color: rgba(64, 129, 214, .3);
	text-align: center;
	padding-bottom: 150px;
}

.blog-boxes {
	border: 5px solid white;
	height: 275px;
	width: 275px;
	border-radius: 5%;
}

.blog-row {
	padding-top: -20px;
}

.blog-info {
	border: 5px solid white;
	border-radius: 5%;
	margin: 0px auto;
	width: 275px;
	font-style: 24px;
}

.blog-title {
	font-size: 30px;
}

.blog-preview {
	font-size: 14px;
}

.linkedin-icon {
	margin: 0px auto;
	width: 60%;
}

.fb-icon {
	margin: 0px auto;
	width: 60%;
	/*border-radius: 5%;*/
}

.insta-icon {
	margin: 0px auto;
	width: 60%;
	/*border-radius: 25%;*/
}

.mail-icon {
	margin: 0px auto;
	width: 60%;
	/*border-radius: 25%;*/
}

.contacts {
	text-align: center;
}

.contact-icons {
	border-radius: 50%;
}

.contact-icons:hover {
	box-shadow: 0 3px 3px rgba(0,0,0,3);
	transition: box-shadow .1s;
}

.contact {
	padding-bottom: 130px;
	background-color: rgba(64, 129, 214, .3);
}


@media(max-width: 992px) {

	.about-me-text-intro {
		font-size: 24px;
		padding-top: 10px;
	}

	.about-me-text-more {
		font-size: 16px;
		margin-top: -10px;
	}

	.about-me {
		padding-top: 120px;
		padding-bottom: 100px;
	}

	.page-intro {
		font-size: 36px;
	}

	.resume-pic {
		width: 300px;
		height: 300px;
		margin-top: -30px;
		margin-bottom: 10px;
	}

	.resume-text {
		margin: 0px auto;
		width: 85%;
		margin-top: -50px;
	}

	.passions-boxes {
		margin: 0px auto;
		width: 50%;
		height: 200px;
	}

	.box-1 {
		padding-bottom: 80px; 
	}


}

@media(max-width: 768px) {

	.about-me-text-intro {
		font-size: 22px;
	}

	.about-me {
		text-align: center;
	}

	.page-intro {
		font-size: 28px;
	}

	.resume-title {
	font-size: 20px;
	}

	.resume-time {
	font-size: 18px;
	}

	.resume-location {
	font-size: 16px;
	margin-top: -13px;
	}

	.resume-info {
	font-size: 14px;
	}

}

