* {
	text-align: center;
	background-color: #F2F5A9;
}

h1 {
	font-family: impact;
	font-size: 6em; 
	color: green;
}

ol {
	border: .5px solid black;
	color: green;
}

}

table {
	border: 1px solid black;
}

thead {
	text-align: center;
	font-size: 3em; 
	color: green; 

}

table img {
	max-width: 20em; 
	max-height: 20em;
}

body p {
	font-family: arial;
}

