		<div class="container-fluid">
			<div class="about-me" id="about">
				<div class="row"> 
					<div class="col-sm-offset-2 col-sm-2 col-xs-12">
						<div>
							<img class="about-me-img" src="https://scontent.xx.fbcdn.net/t31.0-8/13580385_10208950557258719_4684982313200372397_o.jpg"/>
						</div>
					</div>
					<div class="col-sm-4 col-xs-offset-2 col-xs-8">
						<div class="about-me-text">
							<div class="about-me-text-intro">
								<strong>Hey there! <br>I'm Stephanie Shin.</strong>
							</div>
							<div class="about-me-text-more">
								I was born and raised in Iowa (not on a farm), and now I live in the great city of Boston. Follow me as I attempt to navigate new adventures, smiling along the way. 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>