
		<div class="blog" id="blog">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							Read some of my thoughts:
						</div>
					</div>
				</div>
				<div class="row">
					<div class="blog-row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div>
								<a href="https://stuffshinsays.wordpress.com/2016/02/06/stuff-from-a-bus/">
									<img class="blog-boxes" src="blog-pic-1.PNG">
								</a>
							</div>
							<div>
								<a href="https://stuffshinsays.wordpress.com/2016/02/06/stuff-from-a-bus/">
									<div class="blog-info">
										<p class="blog-title">
											from a bus
										</p>
										<p class="blog-preview">
											I'm sitting on a beautifully crafted Greyhound bus for the first time, preparing to arrive in ...
										</p>
									</div>
								</a>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12">
							<div>
								<a href="https://stuffshinsays.wordpress.com/2016/02/29/stuff-on-being-basic/">
									<img class="blog-boxes" src="blog-pic-2.PNG">
								</a>
							</div>
							<div>
								<a href="https://stuffshinsays.wordpress.com/2016/02/29/stuff-on-being-basic/">
									<div class="blog-info">
										<p class="blog-title">
											on basicness
										</p>
										<p class="blog-preview">
											Today I ordered a venti iced caramel macchiato from Starbucks. This past weekend I bought brand new ...
										</p>
									</div>
								</a>
							</div>
						</div>

						<div class="col-md-4 col-sm-12 col-xs-12">
							<div>
								<a href="https://stuffshinsays.wordpress.com/2016/02/06/stuff-from-a-bus/">
									<img class="blog-boxes" src="blog-pic-1.PNG">
								</a>
							</div>
							<div>
								<a href="https://stuffshinsays.wordpress.com/2016/02/06/stuff-from-a-bus/">
									<div class="blog-info">
										<p class="blog-title">
											from a bus
										</p>
										<p class="blog-preview">
											I'm sitting on a beautifully crafted Greyhound bus for the first time, preparing to arrive in ...
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>