
	<div class="contact" id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-intro">
						Connect with me: 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-3 col-md-2">
					<div class="contacts">
						<a href="https://www.facebook.com/steph.shin2">
							<img class="contact-icons fb-icon" src="http://www.iconarchive.com/download/i54037/danleech/simple/facebook.ico">
						</a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="contacts">
						<a href="https://www.instagram.com/stephshin2/?hl=en">
							<img class="contact-icons insta-icon" src="instagram-icon.jpg">
						</a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="contacts mail-img">
						<a href="mailto:steph.shin2@gmail.com">
							<img class="contact-icons mail-icon" src="mail-icon.png">
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>