
		<div class="passions big-container clearfix" id="passions">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							Experience some of the things I love:
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-5 col-xs-12">
						<div class="boxes boxes-row-1 box-1">
							<a href="https://youtu.be/AH7yL3YdP_M">
								<div class="passions-box-1 passions-boxes">
									<div class="hover-box">
										DANCE
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-5 col-xs-12">
						<div class="boxes boxes-row-1 box-2">
							<a href="https://youtu.be/sAJgs1P-uUE">
								<div class="passions-box-2 passions-boxes">
									<div class="hover-box">
										MUSIC
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-3 col-md-6 col-xs-12">
						<div class="boxes boxes-row-2 box-3">
							<a href="https://youtu.be/4MeJDdiMsec">
								<div class="passions-box-3 passions-boxes">
									<div class="hover-box">
										TRAVEL
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>