		<div class="resume big-container clearfix" id="resume">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							Things I've accomplished:
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-4 col-xs-12">
						<div class="resume-text">
							<p class="resume-title">
								Boston University 
							</p>
							<p class="resume-time">
								2015-present
							</p>
							<p class="resume-location">
								Boston, Massachusetts 
							</p>
							<p class="resume-info" >
								This fall I will be a sophomore in the College of Arts and Sciences as an undeclared major. I have been on the Dean's List my whole time at the university so far.  
							</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="resume-pic">
							<img src="http://www.designtransfers.com/images/stickers/College/NCAA%20Division%20I%20(a-c)%20Team%20Logos/Boston%20University%20Terriers/Boston%20University%20Terriers%20logo%20T%20Shirt%20Iron%20on%20Transfers%20N4019.jpg"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-2 col-md-4 col-xs-12">
						<div class="resume-text">
							<p class="resume-title">
								Dance Theatre Group
							</p>
							<p class="resume-time">
								2015-present
							</p>
							<p class="resume-location">
								Boston University 
							</p>
							<p class="resume-info" >
								This fall I will be the VP of the dance minor club at BU. Last year, I was Public Relations Chair. I choreograph and dance for this group about 12 hours a week. 
							</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="resume-pic">
							<img src="https://pbs.twimg.com/profile_images/591260574840791040/v1BnA83P.jpg"/>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-2 col-md-4 col-xs-12">
						<div class="resume-text">
							<p class="resume-title">
								iXperience
							</p>
							<p class="resume-time">
								2016 Summer
							</p>
							<p class="resume-location">
								Cape Town, South Africa 
							</p>
							<p class="resume-info" >
								I took a 4-week intensive course in Web Development and then interned at Liquid Thought, a tech consulting company, in Cape Town for 4 weeks. 
							</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="resume-pic">
							<img src="https://pbs.twimg.com/profile_images/467248542537379840/AgqCzATA.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>